*{
    margin: 0;
    padding: 0;
}
.container1{
    width: 100%;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.742);
    display: flex;
    justify-content: start;
}
.leftr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 86, 86);
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
    color: white;

}
.rightr{
    display: flex;
    justify-content: end;
    width:100%;
    align-items: center;
}
.headr{
    padding-top: 2px;
    width: 15%;
    border-right: 1px solid white;
    /* padding-right: 10px; */
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.nextr{
    padding-left: 40px;
}
.rightr ul{
    list-style-type: none;
    display: flex;
}
.rightr li{
    padding-right: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12PX;
    font-weight: bold;
}
.rightr img{
    align-self: center;
    width: 30px;
    height: 30px;
}
.a{
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    margin-right: 10px;
}
.container2{
    width: 100%;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}
.left2 img{
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-left: 70px;

}
.left2 li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 13px;
}
.left2 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.left2 li{
    padding-right: 10px;
    font-size: 13px;
}
.left2 li:hover{
    text-decoration: underline red;
    text-underline-offset: 5px;
}
.right2 .b img{
    width: 30px;
    height: 30px;
    padding-right: 8px;
}
.right2 ul{
    list-style-type: none;
    display: flex;
}
.b{
    display: flex;
    align-items: center;
    border-bottom:1px solid black;
    margin-right: 10px;
    width: 250px;
    height: 20px;
    align-items: center;
    margin-top: 35px;
    margin-left: 30px;
    padding-bottom: 5px;
    margin-right: 25px;
}
.right2 .c img{
    width: 70px;
    height: 70px; 
    margin-bottom: 50px;
}
.right2 .c {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 234, 0);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.d img{
    width:80px;
    height:80px;
    margin-left: 80px;
}
.c .m{
    position: absolute;
    width: 150px;
    height: auto;
    top: 2%;
    margin-left: 70px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container3{
    width: 100%;
    height: 80vh;
    background-color: blanchedalmond;
    background-image: url(../images/doc.gif);
    object-fit: cover;
    background-position: center;
    background-size: contain;
}
.container4{
    width: 100%;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container4 ul{
    display: flex;
}
.container4 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.one h3{
    padding-left: 70px;
    padding-top: 10px;
}
.two h3{
    padding-left: 80px;
    padding-top: 10px;
}
.three h3{
    padding-left: 60px;
    padding-top: 10px;
}
.four h3{
    padding-left: 75px;
    padding-top: 10px;
}
.five h3{
    padding-left: 75px;
    padding-top: 10px;
}
.six h3{
    padding-left: 50px;
    padding-top: 10px;

}
.container5{
    width: 100%;
    height: 27vh;
    background-color: rgb(239, 239, 144);
    position: relative;
}
.hx1{
    position: absolute;

    left: 10%;
    top: 25%;
    color: rgb(12, 12, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hx2{
    position: absolute;
    left: 10%;
    top: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
}
.cos{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(238, 255, 3);
    margin-left: 210px;
    border: 1px dotted black;
}
.max{
    position: absolute;
    padding-left: 700px;

}
.min{
    position: absolute;
    padding-left: 450px;
}
.hx3{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;

}
.qr img{
   width: 150px;
   height: 150px;
   padding-left: 50px;
   padding-top: 20px;
}
.text{
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aln{
    position: absolute;
    top: 0;
    right: 15%
}
.container6{
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
   
}
.heady{
    position: absolute;
   left: 6%;

}
.con1{
    position: absolute;
    top:23%;
    left: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 97);

}
.con1 h4{
    padding-top: 10px;
    padding-left: 60px;
}

.con2 ul{
    margin-top: 200px;
    display: flex;
    list-style-type: none;
    margin-left: 450px;
}
.con2 li{
    padding-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(12, 12, 97);
}
.container7{
    width: 100%;
    height: 55vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    
}
.cosax{
    width: 20%;
    height: 55vh;
    background-color: chartreuse;
    background-image: url(../images/man1.jpeg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.cosak{
    width: 20%;
    height: 55vh;
    background-color: chartreuse;
    background-image: url(../images/women3.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;

}
.cosal{
    width: 20%;
    height: 55vh;
    background-color: chartreuse;
    background-image: url(../images/women2.jpeg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    
}
.cosas{
    width: 20%;
    height: 55vh;
    background-color: chartreuse;
    background-image: url(../images/bag.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.coma{
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    margin-left:45px;
    margin-top: 330px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.coma h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.comal{
    width: 250px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    margin-left:30px;
    margin-top: 330px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.comal h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.comam{
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    margin-left:30px;
    margin-top: 330px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.comam h3{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.container8{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.sm{
    position: absolute;
    width: 30%;
    height: 70vh;
    background-color: brown;
    margin-left: 25px;
    left: 5%;
    top:10%;
    background-image: url(../images/shirt.jpeg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.rm{
    position: absolute;
    width: 30%;
    height: 70vh;
    background-color: brown;
    margin-left: 25px;
    right: 5%;
    top:10%;
    background-image: url(../images/lo.jpeg);
    object-fit: cover;
    background-position: bottom;
    background-size: cover;
    border-radius: 15px;
}
.ss{
    position: absolute;
    left: 53%;
    top:20%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: grey;

}
.fu{
    position: absolute;
    width: 45%;
    height: 35vh;
    background-color: rgb(255, 234, 208);
    left: 30%;
    top:40%;
    z-index: 1;
    border-radius: 15px;
}
.mom{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 7vh;
    box-shadow: 1px 1px  4px;
}
.mom1{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 7vh;
    box-shadow: 1px 1px  4px;
}
.tst h1{
        padding-top: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mom2{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 7vh;
    box-shadow: 1px 1px  4px;
}
.mom3{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 7vh;
    box-shadow: 1px 1px  4px;
}
.mom3:hover{
    box-shadow: 1px 1px  8px;
}
.mom2:hover{
    box-shadow: 1px 1px  8px;
}
.mom1:hover{
    box-shadow: 1px 1px  8px;
}
.mom:hover{
    box-shadow: 1px 1px  8px;
}
.container9{
    width: 100%;
    height: 95vh;
    background-color: darkblue;
    position: relative;
}
.tmt{
  text-align: center;
  color: yellow;
  padding-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.lis{
    display: flex;
    padding-left: 500px;
    padding-top: 30px;
}
.lis ul{
    display: flex;
    list-style-type: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lis li{
    
    padding-left: 50px;
}
.lis li:hover{
    text-decoration: underline yellow;
    text-underline-offset: 5px;
}
.cards{
    position: absolute;
    top: 22%;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:scroll
}
.card1{
    width: 20%;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card1 img{
    width: 100%;
    height: 80%;
}
.content1 {
    display: flex;
    padding-right: 100px;
    justify-content: space-evenly;
    color: white;
}
.c3{
    padding-left: 30px;
}
.c2{
    padding-left: 10px;
    color: pink;
}